@import "tailwindcss";
/* Thin Scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Adjust width */
    height: 5px; /* For horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
  }
  
